body, header, footer, div, main {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.smallImage {
     min-width: 100%;
     cursor: pointer;
     box-shadow: 2px -2px 4px black;
 }

body {
    background: url("../design/BackGround.jpg") fixed;
}

header {
    width: 100%;
    background: #eeeeee;
    height: 100px;
}

header > .wrapper {
    height: 100px;
    text-align: center;
}

.logo {
    cursor: pointer;
}

.imagesHolder {
    border-left: 4px solid #eeeeee;
    margin-top: 4px;
    margin-bottom: -4px;
}

.smallImageContainer {
    width: 25%;
    border-top: 4px solid #eeeeee;
    border-right: 4px solid #eeeeee;
    display: inline-block;
    box-sizing: border-box;
    margin-top: -5px;
}

footer {
    width: 100%;
    background: #eeeeee;
    height: 100px;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.virtualBackground {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
}

.virtualImageHolder {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.bigImage {
    vertical-align: middle;
}

.aboveTheBigImage {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    position: absolute;
    cursor: pointer;
}

.bigImageLeftArrowHolder, .bigImageRightArrowHolder {
    display: inline-block;
    width: 20%;
    height: 100%;
    text-align: center;
    vertical-align: top;
}

.leftArrow, .rightArrow {
    vertical-align: middle;
    width: 30px;
    opacity: 0.4;
}

.closeVirtualImage {
    position: relative;
    margin: 15px;
    float: right;
    opacity: 0.4;
    cursor: pointer;
    width: 15px;
}

.closeVirtualImage:hover {
    opacity: 0.9;
}

.bigImageCenter {
    display: inline-block;
    width: 60%;
    height: 100%;
    vertical-align: top;
}

.middleHelper {
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

@media only screen and (min-width: 1025px) {
    .wrapper {
        width: 1024px;
    }
}

@media only screen and (min-width : 1025px) and (max-width : 1200px) {
    .wrapper {
        width: 100%;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
    header {
        height: 150px;
    }

    header > .wrapper {
        height: 150px;
    }

    .wrapper {
        width: 100%;
    }

    .smallImageContainer {
        width: 50%;
        border-top: 15px solid #eeeeee;
        border-right: 15px solid #eeeeee;
        display: inline-block;
        box-sizing: border-box;
        margin-top: -17px;
    }

    .imagesHolder {
        border-left: 15px solid #eeeeee;
        margin-top: 15px;
        margin-bottom: -15px;
    }

    .smallImage {
         box-shadow: 7px -7px 12px black;
    }

    .closeVirtualImage {
          width: 30px;
    }
}

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
    header {
        height: 150px;
    }

    header > .wrapper {
        height: 150px;
    }

    .wrapper {
        width: 100%;
    }

    .smallImageContainer {
        width: 100%;
        border-top: 15px solid #eeeeee;
        border-right: 15px solid #eeeeee;
        display: inline-block;
        box-sizing: border-box;
        margin-top: -17px;
    }

    .imagesHolder {
        border-left: 15px solid #eeeeee;
        margin-top: 15px;
        margin-bottom: -15px;
    }

    .smallImage {
        box-shadow: 7px -7px 12px black;
    }

    .closeVirtualImage {
        width: 30px;
    }
}